.navbar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    z-index: 1000;
    padding:18px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(7,17,31,.75);
    backdrop-filter:blur(12px);
    transition:all .35s ease;
    box-sizing:border-box;
}

.navbar.scrolled{
    padding:14px 8%;
    background:#07111F;
    box-shadow:0 8px 25px rgba(0,0,0,.25);
}

.logo{
    text-decoration:none;
    font-size:22px;
    font-weight:700;
    color:#fff;
}

.logo span{
    color:#3B82F6;
}

.nav-links{
    display:flex;
    gap:35px;
    list-style:none;
    margin:0;
    padding:0;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#fff;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#3B82F6;
}

.nav-buttons{
    display:flex;
    align-items:center;
    gap:15px;
}

#user-name{
    color:white;
    font-weight:600;
    white-space:nowrap;
}

.nav-buttons button,
.trip-btn{
    padding:10px 18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
    text-decoration:none;
}

#open-ai{
    background:#fff;
    color:#111827;
}

.trip-btn{
    background:#3B82F6;
    color:white;
}

#logout-btn{
    background:#ef4444;
    color:white;
}

#logout-btn:hover{
    background:#dc2626;
}

#open-ai:hover,
.trip-btn:hover{
    transform:translateY(-2px);
}

.menu-toggle{
    display:none;
}

/* ================= MOBILE ================= */
@media (max-width:768px){

.navbar{
    flex-wrap:wrap;
    padding:15px 20px;
}


.nav-links,
.nav-buttons{
    display:none;
    width:100%;
    background:#07111F;
}

.nav-links.active,
.nav-buttons.active{
    display:flex;
}

.nav-links{
    flex-direction:column;
    align-items:center;
    gap:20px;
    padding:25px 0 10px;
    margin:0;
}

.nav-buttons{
    flex-direction:column;
    align-items:center;
    gap:15px;
    padding:10px 0 25px;
}

.nav-buttons button,
.trip-btn{
    width:220px;
    text-align:center;
}




.menu-toggle{
    display:block;
    font-size:28px;
    color:#fff;
    cursor:pointer;
    padding:8px;
}

.navbar{
    padding:15px 18px;
}

}